@import "tailwindcss";

@theme {
  --color-lime-green: hsl(163, 72%, 41%);
  --color-bright-red: hsl(356, 69%, 56%);

  --color-facebook: hsl(208, 92%, 53%);
  --color-twitter: hsl(203, 89%, 53%);
  --color-youtube: hsl(348, 97%, 39%);

  --color-toggle: hsl(230, 22%, 74%);
  --color-very-dark-blue: hsl(230, 17%, 14%);
  --color-very-dark-blue-top: hsl(232, 19%, 15%);
  --color-dark-desaturated-blue: hsl(228, 28%, 20%);
  --color-desaturated-blue: hsl(228, 34%, 66%);
  --color-white: hsl(0, 0%, 100%);
  --color-very-pale-blue: hsl(225, 100%, 98%);
  --color-light-grayish-blue: hsl(227, 47%, 96%);
  --color-dark-grayish-blue: hsl(228, 12%, 44%);
}
:root {
  --gradient-instagram: linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
  --gradient-toggle: linear-gradient(to right, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
}